.home
  %section.site-header
    %h1.smallcap
      %a.site-title{href: "/"} 何晨的叨逼叨

    %h5
      你好，感谢来看我的叨逼叨，我的邮箱是
      %code me#hechen0.com
      欢迎来信撕

  %section
    %ul.post-list
      -@posts.each do |post|
        %li
          =link_to post.post_title, post_path(post)
          %time= post.post_date.strftime('%m-%d %Y')
