=form_for [:admin, @post], remote: true do |f|
  =f.text_field :post_title

  =f.text_area :post_content, class: 'codemirror-editor'

  =f.date_select :post_date

  =f.select :post_status, options_for_select(['publish', 'draft', 'lock'])

  =f.submit
