%article.post
  %header.post-header
    %span.back
      &larr;
      =link_to "目录", root_url
  %h1.post-title=@post.post_title
  %p.post-meta
    %time=@post.post_date.strftime('%m-%d %Y')

  .post-content
    !=@post.post_content
    %p
      [
      %a{href: "#top"} 回到顶部
      ]